@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;

  --color-khipu-black: #000000;
  --color-khipu-orange: #e95b30;
  --color-khipu-white: #ffffff;
  --color-khipu-gray: #414141;
  --color-udla-red: #c10230;
}

@utility content-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  
  @media (min-width: 768px) {
    max-width: 768px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media (min-width: 1024px) {
    max-width: 1024px;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media (min-width: 1536px) {
    max-width: 1536px;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
