---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>KhipuX Quito 2026</title>
  </head>
  <body class="bg-khipu-black">
    <!-- Container -->
    <div
      class="font-montserrat mx-auto flex min-h-screen max-w-7xl flex-col px-4"
    >
		<Navbar />
    </div>
  </body>
</html>
