---
import "../styles/global.css";
import NavbarDesktop from "../components/NavbarDesktop.astro";
import NavbarMobile from "../components/NavbarMobile.astro";
import Hero from "../components/Hero.astro";
import AboutEvent from "../components/AboutEvent.astro";
import ProgramOverview from "../components/ProgramOverview.astro";
import ParticipationImpact from "../components/ParticipationImpact.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}favicon.png`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>KHIPUx - QUITO 2026</title>
  </head>
  <body class="bg-khipu-black font-montserrat">
    <!-- Container -->
    <div class="mx-auto flex min-h-screen max-w-7xl flex-col">
      <NavbarDesktop />
      <NavbarMobile />
      <Hero />
      <AboutEvent />
      <ProgramOverview />
      <ParticipationImpact />
    </div>
  </body>
</html>
