---
import horizontalBar from "../assets/horizontal-lateral-bar.svg";
import verticalBar from "../assets/vertical-lateral-bar.svg";
---

<section id="about" class="bg-khipu-gray text-khipu-white py-8">
  <div
    class="content-container flex flex-col items-center justify-center gap-x-8 gap-y-8 md:flex-row md:items-stretch"
  >
    <!-- Mobile: horizontal bar, partial width -->
    <img
      src={horizontalBar.src}
      alt="Lateral Bar"
      class="h-auto w-3/4 md:hidden"
    />
    <!-- Desktop: vertical bar -->
    <img
      src={verticalBar.src}
      alt="Lateral Bar"
      class="hidden h-auto w-24 shrink-0 md:block"
    />
    <!-- Content -->
    <div
      class="flex flex-col justify-center gap-y-4 text-center text-lg font-semibold md:text-left"
    >
      <h2 class="text-4xl font-bold md:text-6xl md:leading-tight">
        About the event
      </h2>
      <p class="text-lg font-semibold md:text-xl">
        KHIPUx Quito is a 3-day hybrid event designed to advance the role of
        Artificial Intelligence in biological and medical imaging across Latin
        America.
      </p>
      <p class="text-lg font-semibold md:text-xl">
        Hosted by <span class="text-uide-orange"
          >Universidad Internacional del Ecuador (UIDE)</span
        >, it brings together students and early-career researchers from fields
        such as biology, medicine, data science, and AI.Participants will engage
        in expert-led lectures, technical workshops, poster sessions, and a
        collaborative hackathon developing open-source AI tools for regional
        health challenges.
      </p>
      <ul class="list-inside list-disc text-lg font-semibold md:text-xl">
        <p class="text-lg md:text-xl">Key Themes:</p>
        <li>AI for bioimage and medical imaging</li>
        <li>Ethical AI and data sovereignty</li>
        <li>Open science and regional collaboration</li>
        <li>Empowering Latin American talent</li>
      </ul>
    </div>
  </div>
</section>
