---
import KhipuLogo from "../assets/khipu-logo.svg";
import KhipuCircle from "../assets/khipu-circle.svg";
---

<!-- Desktop Navigation -->
<nav class="bg-khipu-black sticky top-0 z-50 hidden w-full overflow-hidden py-4 md:block">
  <div class="content-container flex items-center gap-x-4">
    <!-- Logo and Text -->
    <div class="flex shrink-0 items-center gap-x-8">
    <KhipuLogo
      class="text-khipu-orange h-20 w-auto origin-center -rotate-90"
      role="img"
      aria-label="Khipu Logo"
    />
    <p class="text-khipu-white text-3xl font-bold">KHIPUx Quito</p>
  </div>

  <!-- Navigation Links  -->
  <div
    class="text-khipu-white flex min-w-0 flex-1 flex-wrap items-center justify-center gap-x-8 font-bold"
  >
    <a href="/">About</a>
    <a href="/">Speakers</a>
    <a href="/">Schedule</a>
  </div>

  <div class="relative flex shrink-0 items-center justify-center">
    <KhipuCircle
      class="text-khipu-orange pointer-events-none absolute top-1/2 left-1/2 -z-10 h-[220px] w-[220px] -translate-x-1/2 -translate-y-1/2"
      preserveAspectRatio="xMidYMid meet"
      role="img"
      aria-label="Khipu Circle"
    />
    <button
      class="bg-khipu-orange text-khipu-white relative z-10 rounded-full px-8 py-4 font-bold text-nowrap"
    >
      Register Now!
    </button>
  </div>
  </div>
</nav>
